body{
  background-color: #ccc;
}
.bnavbar .avatar{
  background: url('./assets/svgs/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -15px;
  right: -20px;
}

.header-section {
  min-height: 60vh;
}

.header-section .icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-section .icon2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.header-section .icon3 {
  position: absolute;
  right: 0px;
  bottom: 2em;
}

.header-main-title {
  font-size: 4rem;
}

.bbutton {
  background-color: #000 !important;
  color: #fff !important;
}
