body{
  background-color: #ccc;
  overflow-x: hidden;
}
.bnavbar .avatar{
  background: url('./assets/svgs/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -15px;
  right: -20px;
}

.header-section {
  min-height: 60vh;
}

.header-section .icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-section .icon2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.header-section .icon3 {
  position: absolute;
  right: 0px;
  bottom: 2em;
}

.header-main-title {
  font-size: 4rem;
}

.bbutton {
  background-color: #000 !important;
  color: #fff !important;
}

.home-secion-2 {
  margin-top: 12rem;
}

.home-secion-2 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb60;
  background-image: url('./assets/svgs/lines\ 1.svg');
  border-radius: 16px;
  height: 300px;
}

.home-secion-2 .inner h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.sheight .bg {
  position: absolute;
  left: -80px;
  filter: invert(35%) sepia(91%) saturate(7487%) hue-rotate(355deg) brightness(97%) contrast(121%);
}

.stroke-white-text{
    color: #fff;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.575);
    font-size: 4rem;
}

.section-3-inner_right {
  background-color: rgba(127, 255, 212, 0.233);
  background-image: url('./assets/svgs/lines\ 4.svg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.section-4-div {
  background-color: #777777;
  height: 80px;
  border-radius: 50px;
}