body{
  background-color: #ccc;
  overflow-x: hidden;
}
.bnavbar .avatar{
  background: url('./assets/svgs/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -15px;
  right: -20px;
}

.header-section {
  min-height: 60vh;
}

.header-section .icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-section .icon2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.header-section .icon3 {
  position: absolute;
  right: 0px;
  bottom: 2em;
}

.header-main-title {
  font-size: 4rem;
}

.bbutton {
  background-color: #000 !important;
  color: #fff !important;
}

.home-secion-2 {
  margin-top: 12rem;
}

.home-secion-2 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb60;
  background-image: url('./assets/svgs/lines\ 1.svg');
  border-radius: 16px;
  height: 300px;
}

.home-secion-2 .inner h1 {
  font-size: 4rem;
  font-weight: bolder;
}
